.cubbles-cubx-launcher_cubx-launcher-root {
    background-color: #CC0031;
}

.cubbles-cubx-launcher_cubx-launcher-root > i {

}

.cubbles-cubx-launcher_cubx-launcher-menu {

}

.cubbles-cubx-launcher_cubx-launcher-content-container {
    
}

.cubbles-cubx-launcher_cubx-launcher-menu {

}

.cubbles-cubx-launcher_cubx-launcher-menu > ul {

}

.cubbles-cubx-launcher_cubx-launcher-app-icon {
    background-color: #CC0031;
}

.cubbles-cubx-launcher_cubx-launcher-app-icon > i {

}

.cubbles-cubx-launcher_cubx-launcher-modal {
    z-index: 10000;
}

.cubbles-cubx-launcher_cubx-launcher-modal-content {
}

.cubbles-cubx-launcher_cubx-launcher-modal-content [data-content-anchor] {
    background-color: white;
}

.cubbles-cubx-launcher_cubx-launcher-modal-close {

}

.cubbles-cubx-launcher_cubx-launcher-modal-close i {

}